<% if logged_in? %>
  <div class="col-md-10 col-md-offset-1">
    <div class="card-wrap">
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    
    <h1>ようこそ<strong>Samplegram</strong>へ！</h1>
    
    <div class="home-image">
      <%= image_tag 'IMG_1572.JPG' %>
    </div>
    
    <span><%= link_to "登録する", signup_path, class: "btn btn-lg btn-primary" %></span>
    
  </div>
<% end %>