<% provide(:title, "Notification") %>
<div class="main">
  <div class="form-box">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% if @notifications.exists? %>
          <h3 class="text-center">通知</h3>
          <div class="txt-bottom">
            <%= link_to "通知削除", notification_path(@notifications), method: :delete, class: "fas fa-trash" %>
          </div>
          <div class="notification-index">
            <%= render @notifications %>
          </div>
        <% else %>
          <p class="text-center notification-none">通知はありません</p>
        <% end %>
      </div>
    </div>
  </div>  
</div>