<div class="search-form">
  <%= form_with url: search_users_path, method: :get, local: true do |f| %>
    <%= f.text_field :name, :placeholder => "検索", class: "search-box" %>
    <%= f.button :search, :type => "submit", class: "search-btn" do %>
      <i id="font-color", class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>