<% provide(:title, @user.name) %>
<div class="main">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="gravatar_edit">
        <%= image_tag avatar_url(@user), size: 70 %>
        <%= @user.user_name %>
      </div>
      <%= link_to "プロフィール写真を変更", "https://gravatar.com/emails",
                    class: "btn btn-outline-dark common-btn edit-profile-btn" %>
    </div>
  </div>
</div>