<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Samplegram", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to root_path, :method => :get do %>
            <i class="fas fa-home fa-2x"></i>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>